body {
    margin: 0 60px;
    margin-bottom: 10px;
}

h2 {
    text-align: center;
    font-size: 30px;
}

p {
    font-weight: 600;
  }

.top {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 0 150px;
    margin: 0 auto;
}

.left {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px 30px;
    width: 25%;
  }

button {
    padding: 15px 10px;
    border: 1px;
    border-radius: 5px;
    width: 120px;
    background-color: rgba(0, 128, 128, 0.44);
}

button.active {
    background-color: teal;
    color: #ffffff;
}

input {
    height: 40px;
    width: 120px;
    border: none;
    margin-top: 0;
}

.grid {
    display: grid;
    width: 500px;
    height: 500px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin-top: 0;
}
.grid-el {
    /* border: 1px solid gray; */
    user-select: none;
}

.border-top-left {
    border-top: 1px solid rgb(156, 156, 156);
    border-left: 1px solid rgb(156, 156, 156);
}

.border-right {
    border-right: 1px solid rgb(156, 156, 156);
}

.border-bottom {
    border-bottom: 1px solid rgb(156, 156, 156);
}

@media screen and (max-width: 800px) {
    body {
        padding: 0;
        margin: 30px 5px;
    }
    .top {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 0 150px;
        margin: 0 auto;
    }
    
    .left {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 30px;
        width: 25%;
    }

    button {
        padding: 7px 5px;
        border: 1px;
        border-radius: 5px;
        color: rgb(255, 255, 255);
        height: 50px;
        width: auto;
        background-color: rgb(20, 56, 44);
    }
    input {
        height: 30px;
        width: 80px;
        border: none;
        margin-top: -20px;
    }
    #bg {
        visibility: hidden;
    }
    #bg:after {
        content: 'Background';
        visibility: visible;
        display: block;
    }
    #bg-color {
        margin-bottom: 35px;
    }
    #sizeValue {
        padding-bottom: 20px;
        align-self: center;
    }
  }